<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>Add a new Decision</h1>

<form action="https://decision-space-decision-spaces-fastapi-97x4rv7662xp5x-8000.githubpreview.dev/spaces/1/decisions/">
    <fieldset>
      <legend>Decision</legend>
      <div class="form-control">
        <label for="decision">Name</label>
        <input type="name" id="decision" placeholder="Enter your decision" required />
      </div>

      <div class="form-control">
        <label for="message">Commentary</label>
        <textarea
          id="commentary"
          cols="30"
          rows="10"
          placeholder="Enter your Commentary"
          required
        ></textarea>
      </div>
      <input type="submit" value="Send" class="submit-btn" />
    </fieldset>
</form>

</body>
</html>